<p style="color: green"><%= notice %></p>

<%= render @recipes %>

<div>
  <%= link_to "Back to recipes", user_recipes_url(current_user.id) %>

  <%= button_to "Destroy this recipe", user_recipe_url(@user.id, @recipe.id), method: :delete %>
</div>
