<p style="color: green"><%= notice %></p>

<h1>Foods</h1>
<div class='table-headings'>

    <strong>Name</strong>
    <strong>Measurement unit</strong>
    <strong>Price</strong>
    <strong>Quantity</strong>
    <strong>Action</strong>

<div id="foods">
  <% @foods.each do |food| %>
    <%if can? :manage, food %>
      <%= render food %>
    <% end %>
  <%end%>
</div>
</div>

<%= link_to "Add food", new_food_path %>
