<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", user_foods_path %>
    </p>
  <% end %>
</div>

<%= link_to "Add food", new_user_food_path %>
